@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,600&display=swap');

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 40px;
}

input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

input.error, textarea.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

/*Color y tamaño de los íconos*/
ion-icon {
   font-size : 50px;
   color: white;
}

/*Tipo y tamaño de la fuente.
  Esta modificación solo estará en el div de clase texto en el archivo: modal_categorias.html
  empleos_usuarios.html, empleos_mirones.html e interesados.
  NOTA: Solo se colocó en algunas partes, como son en columnas o h1/h2 para cer si funcionan
*/
.texto h1{
  font-family: Raleway;
  font-size: 50px;
  font-variant: Thin;
}

.texto h2{
  font-family: Raleway;
  font-size: 45px;
  font-variant: Thin;
}

.texto h3{
  font-family: Raleway;
  font-size: 40px;
  font-variant: Thin;
}

.texto h4{
  font-family: Raleway;
  font-size: 35px;
  font-variant: Thin;
}

.texto h5{
  font-family: Raleway;
  font-size: 30px;
  font-variant: Thin;
}

.texto h6{
  font-family: Raleway;
  font-size: 25px;
  font-variant: Thin;
}

.texto label{
  font-family: Raleway, thin;
  font-size: 20px;
  font-variant: Thin;
  line-height: 17px;
}

.texto p{
  font-family: Raleway, thin;
  font-size: 20px;
  font-variant: Thin;
  line-height: 17px;
}

.texto ul{
  font-family: Raleway, thin;
  font-size: 12px;
  font-variant: Thin;
  line-height: 17px;
}
textarea{
 font-family: 'Raleway', sans-serif;
 font-size: 30px;
 font-variant: Bold;
 line-height: 17px;
}
